.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--page-secondary-color);
  width: 100vw;
}

.navbar a:hover {
  filter: brightness(1.5);
}

.navsubbar {
  display: flex;
  margin: 0;
  padding: 0;
}
.navsubbar a,
.logo {
  color: var(--text-color);
  background-color: var(--page-secondary-color);
  font-size: 1rem;
  padding: 1rem;
  align-content: center;
}

.left a {
  background-color: var(--primary-color);
}

.logo {
  background-color: black;
}
