.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(56, 56, 56);
  width: 100vw;
}

.navsubbar {
  display: flex;
  margin: 0;
  padding: 0;
}

.navsubbar a {
  align-content: center;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  transition: background-color 0.2s ease;
  color: lightgray;
}

.navsubbar a:hover {
  background-color: rgb(80, 80, 80);
  color: red;
}

.navbarcontrols a {
  background-color: purple;
}

.navbarcontrols a:hover {
  background-color: darkorchid;
  color: white;
}
